@font-face {
	font-family: Open Sans;
	src: local("?"), url(/trunk/css/fonts/open_sans-light.eot?#iefix) format("embedded-opentype"), url(/trunk/css/fonts/open_sans-light.woff?v=130484288335834824) format("woff"), url(/trunk/css/fonts/open_sans-light.ttf?v=130484288335834824) format("truetype"), url(/trunk/css/fonts/open_sans-light.svg#svgFontName?v=130484288335834824) format("svg");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: local("?"), url(/trunk/css/fonts/open_sans.eot?#iefix) format("embedded-opentype"), url(/trunk/css/fonts/open_sans.woff?v=130484288335834824) format("woff"), url(/trunk/css/fonts/open_sans.ttf?v=130484288335834824) format("truetype"), url(/trunk/css/fonts/open_sans.svg#svgFontName?v=130484288335834824) format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: local("?"), url(/trunk/css/fonts/open_sans-bold.eot?#iefix) format("embedded-opentype"), url(/trunk/css/fonts/open_sans-bold.woff?v=130484288335834824) format("woff"), url(/trunk/css/fonts/open_sans-bold.ttf?v=130484288335834824) format("truetype"), url(/trunk/css/fonts/open_sans-bold.svg#svgFontName?v=130484288335834824) format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: fifa-icons;
	src: local("?"), url(/trunk/css/fonts/FifaIcons.eot?#iefix) format("embedded-opentype"), url(/trunk/css/fonts/FifaIcons.woff?v=130484288335834824) format("woff"), url(/trunk/css/fonts/FifaIcons.ttf?v=130484288335834824) format("truetype"), url(/trunk/css/fonts/FifaIcons.svg#svgFontName?v=130484288335834824) format("svg");
	font-style: normal;
}
@font-face {
	font-family: fifa-icons-1024;
	src: local("?"), url(/trunk/css/fonts/fifacomicons1024-webfont.eot?#iefix) format("embedded-opentype"), url(/trunk/css/fonts/fifacomicons1024-webfont.woff?v=130484288335834824) format("woff"), url(/trunk/css/fonts/fifacomicons1024-webfont.ttf?v=130484288335834824) format("truetype"), url(/trunk/css/fonts/fifacomicons1024-webfont.svg#svgFontName?v=130484288335834824) format("svg");
	font-style: normal;
}
