th {
	text-align: center;
}
td {
	text-align: center;
}
.table {
	border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.table caption {
	text-align: left; color: rgb(153, 153, 153); text-transform: uppercase; line-height: 1.54; font-size: 14px; font-weight: 700;
}
.table caption.caption-link {
	display: none;
}
.table > thead > tr > th {
	padding: 0px; text-align: center; vertical-align: middle;
}
.table > tbody > tr > th {
	padding: 0px; text-align: center; vertical-align: middle;
}
.table > tfoot > tr > th {
	padding: 0px; text-align: center; vertical-align: middle;
}
.table > thead > tr > td {
	padding: 0px; text-align: center; vertical-align: middle;
}
.table > tbody > tr > td {
	padding: 0px; text-align: center; vertical-align: middle;
}
.table > tfoot > tr > td {
	padding: 0px; text-align: center; vertical-align: middle;
}
.table > thead > tr > th {
	color: rgb(153, 153, 153); font-weight: normal; vertical-align: middle; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.table > thead > tr > th abbr {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.shop-list .shop-item a {
	display: block;
}
.shop-list .shop-item img {
	margin: 0px auto; display: block;
}
.shop-list .shop-item .shop-item-detail {
	margin-top: 15px;
}
.shop-list .shop-item .shop-item-price {
	font-weight: bold;
}
#wmcTicker {
	height: 40px; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid;
}
#wmcTicker .wmcLink {
	background: rgb(229, 229, 229); margin: 3px 0px; padding: 5px 0px 0px 10px; width: 175px; height: 30px; color: rgb(50, 98, 149); text-transform: uppercase; font-weight: bold; float: left; display: block; position: relative; z-index: 2;
}
#wmcTicker .wmcLink::after {
	border-width: 27px 11px 0px 0px; border-style: solid; border-color: rgb(229, 229, 229) rgba(229, 229, 229, 0); top: 0px; width: 0px; right: -11px; position: absolute; content: "";
}
#wmcTicker .wmcLink > .after {
	border-width: 27px 11px 0px 0px; border-style: solid; border-color: rgb(229, 229, 229) rgba(229, 229, 229, 0); top: 0px; width: 0px; right: -11px; position: absolute; content: "";
}
#wmcTicker .maLabel {
	margin: 0px; width: 80px; float: left;
}
#wmcTicker .maLabel .ma {
	background: rgb(242, 242, 242); margin: 3px 0px; padding: 5px 5px 0px 15px; height: 30px; text-align: center; vertical-align: middle; position: relative; z-index: 1;
}
#wmcTicker .maLabel .ma::after {
	border-width: 27px 11px 0px 0px; border-style: solid; border-color: rgb(242, 242, 242) rgba(242, 242, 242, 0); top: 0px; width: 0px; right: -11px; position: absolute; content: "";
}
#wmcTicker .maLabel .ma > .after {
	border-width: 27px 11px 0px 0px; border-style: solid; border-color: rgb(242, 242, 242) rgba(242, 242, 242, 0); top: 0px; width: 0px; right: -11px; position: absolute; content: "";
}
#wmcTicker .maLabel .ma .maCode {
	color: rgb(102, 102, 102); font-weight: bold;
}
#wmcTicker .maLabel a {
	color: rgb(50, 98, 149); text-decoration: none; float: none;
}
#wmcTicker .maLabel a:hover {
	color: rgb(50, 98, 149); text-decoration: none; float: none;
}
#wmcTicker .maLabel a .flagsp {
	margin-top: 4px; float: left; display: block;
}
#wmcTicker .maLabel a:hover .flagsp {
	margin-top: 4px; float: left; display: block;
}
#wmcTicker .mask {
	width: 730px; height: 29px; overflow: hidden; float: left; position: relative;
}
#wmcTicker .mask .newsticker {
	margin: 0px; padding: 0px 5px; height: 30px; position: absolute;
}
#wmcTicker .mask .newsticker .wmcMatch {
	float: left;
}
#wmcTicker .mask .newsticker .wmcMatch::after {
	padding: 0px 8px; color: rgb(255, 255, 255); font-size: 24px; font-weight: lighter; content: "/";
}
#wmcTicker .mask .newsticker .wmcMatch > .after {
	padding: 0px 8px; color: rgb(255, 255, 255); font-size: 24px; font-weight: lighter; content: "/";
}
#wmcTicker .mask .newsticker .sep-item.wmcMatch::after {
	color: rgb(217, 217, 217);
}
#wmcTicker .mask .newsticker .sep-item.wmcMatch > .after {
	color: rgb(217, 217, 217);
}
#wmcTicker .mask .newsticker .wmcMatch .wmcMatchData {
	top: -4px; display: inline; position: relative;
}
#wmcTicker .mask .newsticker .wmcMatch .wmcScore {
	margin: 0px 10px; padding: 0px 10px; font-weight: bold;
}
#wmcTicker .mask .newsticker .wmcMatch .live.wmcScore {
	color: rgb(255, 255, 255); background-color: rgb(76, 190, 0);
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .sponsors-list li a {
	margin: 4px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .sponsorMedium {
	background-position: 0px 0px; display: block; background-image: url("http://img.fifa.com/images/layout/sponsors/fifa_partners.gif?v=130484288281702477"); background-repeat: no-repeat; background-color: transparent;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .sponsorSmall {
	background-position: 0px 0px; display: block; background-image: url("http://img.fifa.com/images/layout/sponsors/fifa_partners.gif?v=130484288281702477"); background-repeat: no-repeat; background-color: transparent;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .sponsorSmall {
	width: 101px; height: 20px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .adidas.sponsorSmall {
	background-position: -170px -232px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .cocacola.sponsorSmall {
	background-position: -170px -274px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .emirates.sponsorSmall {
	background-position: -170px -316px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .sony.sponsorSmall {
	background-position: -170px -358px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .hyundaikia.sponsorSmall {
	background-position: -170px -484px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .visa.sponsorSmall {
	background-position: -170px -400px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .sponsorMedium {
	width: 160px; height: 32px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .adidas.sponsorMedium {
	background-position: 0px -220px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .cocacola.sponsorMedium {
	background-position: 0px -262px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .emirates.sponsorMedium {
	background-position: 0px -304px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .sony.sponsorMedium {
	background-position: 0px -346px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .hyundaikia.sponsorMedium {
	background-position: 0px -472px;
}
.home-sponsors-wrapper .fifaPartners.sponsors-hp .visa.sponsorMedium {
	background-position: 0px -388px;
}
.hp-fifaweekly .top {
	background-position: 0px -5px; height: 178px; background-image: url("http://img.fifa.com/images/layout/backgrounds/magazine_big.jpg?v=130484288281702477"); background-repeat: no-repeat; background-color: transparent;
}
.hp-fifaweekly .top img {
	left: 105px; top: 35px; position: absolute;
}
.hp-fifaweekly .dcm-list {
	margin: 0px; padding: 0px;
}
.hp-fifaweekly .dcm-list .dmc-teaser-content {
	margin: 0px; padding: 0px;
}
.hp-fifaweekly .dcm-list .dmc-teaser-content .dcm-summarysection {
	margin-top: 11px;
}
#hp-fifa #content-wrap > .container > .row .teaser-lnd-12 {
	padding-top: 20px;
}
#hp-fifa .hp-fwc-activities .slider-list li .dcm-title {
	height: 40px; padding-bottom: 10px; vertical-align: bottom; display: table-cell;
}
@media all and (max-width:1024px) and (min-width:768px)
{
#hp-fifa #content-wrap {
	margin: 0px auto; width: 1028px;
}
}
.hp-first-row {
	margin-top: 20px;
}
.hp-first-row .adv-mrec.adv {
	margin-top: 10px !important;
}
.de .aboutfifamedia .first.qlink-link {
	margin-left: -100px;
}
.es .aboutfifamedia .first.qlink-link {
	margin-left: -100px;
}
